@{
	ViewBag.Title = "Home Page";
}

<div class="jumbotron">
	<h1>Municipal Library</h1>
</div>

<div class="row">
	<div class="col-md-10">
		<h2>Welcome to the municipal library</h2>
		<p>
			Municipal Library is a sample application that demonstrates the use of Entity
			Framework and the use of a web service in an ASP.NET MVC web application.
		</p>
	</div>
</div>